body {
            background-color: lightgrey;
            font-family: Arial, sans-serif;
            padding: 20px;
    }

.resume-box {
            background-color: white;
            width: 70%;
            margin: auto;
            padding: 25px;
            
            
    }

#top {
            text-align: center;
            padding-bottom: 15px;
            border-bottom: 2px solid lightgrey;
            text-decoration: underline;
    }

#name {
            color: black;
            font-size: 32px;
            font-family: Georgia, serif;
            margin-top: 10px;
    }
    img{
        width: 140px;
        height: 140px;
    }

.section-title {
            color: black;
            font-size: 22px;
            background-color: lightgrey;
            padding: 6px 10px;
            margin-top: 20px;
            border-left: 4px solid grey;
    }

.line {
            font-size: 18px;
            margin: 5px 0;
            color: black;
    }

.skill-list li {
            margin: 4px 0;
            font-size: 18px;
    }