
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-center{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 80px;
}
.logo {
    width: 35px;
}

.location {
    font-weight: 600;
}

.nav-right a {
    margin-left: 30px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.cart {
    color: #fc8019;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    background: #fff7f0;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    color: #555;
}

.hero img {
    width: 400px;
}

.categories {
    padding: 40px 80px;
}

.categories h2 {
    margin-bottom: 20px;
}

.category-row {
    display: flex;
    gap: 25px;
}

.cat {
    background: white;
    padding: 20px 30px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
    
    
    
}

.cat:hover {
    transform: scale(1.05);
}

.restaurants {
    padding: 40px 80px;
}

.restaurants h2 {
    margin-bottom: 30px;
}

.restaurant-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 30px;
}

.card {
    background: white;
    border-radius: 18px;
    overflow: hidden;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.card h3 {
    padding: 10px;
    font-size: 18px;
}

.card p {
    padding: 0 10px 10px;
    font-size: 14px;
    color: #555;
}

@media (max-width: 768px) {
    .navbar, .hero, .categories, .restaurants {
        padding: 20px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero img {
        width: 250px;
        margin-top: 20px;
    }

    .nav-right {
        display: none;
    }

    .category-row {
        flex-wrap: wrap;
    }
}
.footer {
  background-color: #f5f5f5;
  padding: 40px 60px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 30px;
}

.footer-col h4 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #333;
}

.footer-col a {
  display: block;
  color: #666;
  text-decoration: none;
  margin-bottom: 8px;
  font-size: 14px;
}

.footer-col a:hover {
  color: #fc8019;
}

.footer-col img {
  width: 140px;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  color: #777;
  font-size: 14px;
}